<div class="row">
  <div class="col-12 col-md-8">
    <p id="notice"><%= notice %></p>
    <h1>O.C.A.Ds</h1>
    <hr>
    <div class="">
      <% @acronyms.each do |acronym| %>
        <div class="card topic-card border-secondary mb-3" style="min-width: 13rem;">
          <div class="card-body text-secondary">
            <h5 class="card-title"><%= acronym.title %></h5>
            <p class="card-text"><%= acronym.content %></p>
          </div>
          <%= link_to '', acronym_path(acronym), class: "stretched-link" %>
        </div>
      <% end %>
    </div>
    <hr>
    <%= link_to 'New Acronym', new_acronym_path, class: "btn btn-outline-primary" %>
  </div>
</div>
