<div class="row">
  <!-- Topic Content and Notes Section -->
  <div class="col-12 col-md-8">
    <!-- Topic Header -->
    <div class="notice" id="notice"><%= notice %></div>
    <h1><%= @topic.title %></h1>
    <div class="row mb-0">
      <div class="col-9">
        <p><%= @topic.overview %></p>
      </div>
      <div class="col-3 d-flex align-items-center justify-content-end">
        <p><%= link_to 'Edit', edit_topic_path(@topic), class: "text-warning" %> |
        <%= link_to 'Delete', topic_path(@topic), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %> |
        <%= link_to 'Back', concept_path(@topic.concept) %></p>
      </div>
    </div>
    <hr>
    <!-- Concept Notes -->
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h3>Topic Notes</h3>
        <p><%= link_to 'New Note', new_topic_note_path(@topic) %></p>
      </div>
    </div>
    <% @topic.notes.each do |note| %>
      <div class="card mb-2">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h4 class="m-0"> <%= note.title %> </h4>
          <%= link_to 'Edit', edit_note_path(note), class: "text-warning" %>
        </div>
        <div class="card-body">
          <%= note.content %>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
  <!-- Resources and OCADs -->
  <div class="col-12 col-md-4">
    <div class="d-none d-md-block">
      <div class="position-fixed">
        <h3>Resources</h3>
        <!-- Height Limiter on element -->
        <div class="mb-2" style="max-height: 40vh; overflow: auto;">
          <% @topic.resources.each do |resource| %>
            <% unless resource.id.nil? %>
              <%= render partial: 'shared/resource_card', collection: [resource], as: :resource %>
            <% end %>
          <% end %>
        </div>
        <!-- Add a new resource -->
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Add Resource
        </button>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <%= simple_form_for [ @topic, @resource ] do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <%= f.input :title, label: 'Resource Title' %>
              <%= f.input :category, label: 'Resource Category' %>
              <%= f.input :link, label: 'Resource Link' %>
              <%= f.submit "Submit", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        <!-- OCADs -->
        <h3 class="mt-3">OCADs</h3>
        <!-- Height Limiter on element -->
        <div class="mb-2" style="max-height: 40vh; overflow: auto;">
          <% @topic.acronyms.each do |acronym| %>
            <%= render partial: 'shared/acronym_card', collection: [acronym], as: :acronym %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Mobile View -->
    <div class="d-sm-inline d-md-none">
      <h3>Resources</h3>
      <% @topic.resources.each do |resource| %>
        <% unless resource.id.nil? %>
          <%= render partial: 'shared/resource_card', collection: [resource], as: :resource %>
        <% end %>
      <% end %>
      <!-- Add a new resource -->
      <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add Resource
      </button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <%= simple_form_for [ @topic, @resource ] do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <%= f.input :title, label: 'Resource Title' %>
            <%= f.input :category, label: 'Resource Category' %>
            <%= f.input :link, label: 'Resource Link' %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <!-- OCADs -->
      <h3 class="mt-3">OCADs</h3>
      <div class="mb-2" style="max-height: 40vh; overflow: auto;">
        <% @topic.acronyms.each do |acronym| %>
          <%= render partial: 'shared/acronym_card', collection: [acronym], as: :acronym %>
        <% end %>
      </div>
    </div>
  </div>
</div>
