<div class="row">
  <div class="col-12 col-md-8">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h1>Mainframe Concepts</h1>
        <div>
          <%= link_to 'New Concept', new_concept_path %> |
          <%= link_to 'Back', :back %>
        </div>
      </div>
    </div>
    <hr>
    <!-- Core Concepts -->
    <h3 class="mb-3">Core Concepts</h3>
    <div class="card-deck">
      <% @concepts.each do |concept| %>
        <% if concept.category == "Core" %>
          <div class="card topic-card border-dark mb-3" style="min-width: 13rem;">
            <div class="card-header">Core Concept</div>
            <div class="card-body">
              <h5 class="card-title"><%= concept.title %></h5>
              <p class="card-text mb-0"><small class="text-muted"><%= concept.topics.count %> Topics</small>
               <small class="text-muted"><%= concept.resources.count %> Resources</small></p>
              <%= link_to '', concept, class: "stretched-link" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- Language Concepts -->
    <h3 class="mb-3">Language</h3>
    <div class="card-deck">
      <% @concepts.each do |concept| %>
        <% if concept.category == "Language" %>
          <div class="card topic-card border-primary mb-3" style="min-width: 13rem;">
            <div class="card-header">Language</div>
            <div class="card-body">
              <h5 class="card-title"><%= concept.title %></h5>
              <p class="card-text mb-0"><small class="text-muted"><%= concept.topics.count %> Topics</small>
               <small class="text-muted"><%= concept.resources.count %> Resources</small></p>
              <%= link_to '', concept, class: "stretched-link" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


