<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @concept.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @concept.category %>
</p>

<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
