<!DOCTYPE html>
<html>
  <head>
    <title>Mainframe Concepts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab">
    <%#= favicon_link_tag asset_path('woyanmin-emblem.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.12.0/trix.css">
  </head>

  <body>
    <%= render 'navbar' %>
    <div class="container mt-5 pt-5">
      <!-- <div class="row mt-4"> -->
        <!-- <div class="col-sm-8 col-sm-offset-2"> -->
          <%= render "flash" %>
          <%= yield %>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </body>
</html>
